# Dependencies / caches
node_modules/
**/node_modules/
**/.cache/

# Client env
midnight-madness-landing/Client/.env

# env files
.env
*.env
server/.env
server/.env.local

# env files
.env
*.env
Client/.env
server/.env

# Local Netlify folder
.netlify
