[build]
  base = "Client"
  publish = "dist"
  command = "npm ci && npm run build && npm --prefix ../server ci"

[functions]
  directory = "../server/netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
