@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#0D0B0C] text-[#9B8876] antialiased;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #D23A1F;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

a {
  color: #FF4C24;
}
